## Conditional Statements:

##### if statement:

Conditional Statement in Python perform different computations or actions depending on whether a specific Boolean constraint evaluates to true or false. Conditional statements are handled by IF statements in Python. The if statement is always followed by colon which marks the indentation, that is the block of code within the if condition. If indentation is not given then the interpreter throws an error.

The boolean conditions can be of the form (a>b or a==b or a in b etc)

In [1]:
#for eg:
a = 6
b = 4
if (a > b):
    print (a, ' is greater than ',b)

6  is greater than  4

##### else statement:

We have seen 'if' statement executes when a condition becomes True, now if the condition is False then in that case the else statement is executed. we don't have to give any condition with the else block

In [0]:
#for eg:
a = 4
b = 6
if (a > b):
    print (a, ' is greater than ',b)
else:
    print (a, ' is less than ',b)

4  is less than  6

##### elif statement:

If we want to evaluate multiple conditions then in that case we can use elif statement or else-if statement.

It's similar to an if-else statement and the only difference is that in else we will not check the condition but in elif we will do check the condition.

In [4]:
#for eg: let
x = 3
if x == 1:
    print ('first code')
elif x == 2:
    print ('second code')
elif x == 3:
    print ('third code')
elif x == 4:
    print ('fourth code')
else:
    print ('No condition matched')

third code

##### Nested if-else:

In case of nested if-else statement, there can be another if-else statement present within the if statement. That is if one set of condition is True only then  it will evaluate the second set of conditions.

In [7]:
name = 'Paul'
age = 18
if age < 20:
    if name == 'Paul':
        print ('Hi Paul, you are invited for an event')
    else:
        print ('Sorry, we could\'nt find your name in the list')
else:
    print ('Sorry, this event is meant for students below 20 years')

Hi Paul, you are invited for an event

## Python Loops:

Sometimes it is required to execute the part of the code repeatatively untill the condition is met. Then the loop terminate. Python provide two ways for executing the loops.

##### While loop:

In python, while loop is used to execute a block of statements repeatedly until a given a condition is satisfied. And when the condition becomes false, the line immediately after the loop in program is executed.

In case of while loop, we initialise one variable, then we evaluate the condition and finally we increment/decrement the value of the variable.

In [0]:
#for eg:
x = 0         #initialising 
while x < 3:  #evaluating
    print (x)
    x += 1    #incrementing

0
1
2

##### For loop:

A for loop is used to iterate over a dataset, or it iterates over a certain range:

In [0]:
#for eg:
#1) Iterating over a dataset:
x = ['john','paul','mike','tom'] #lets consider this dataset
for i in x:
    print (i)

john
paul
mike
tom

In [0]:
#2) Iterating over a dataset(1):
x = ['john','paul','mike','tom']
for i in range(len(x)):
    print (i)

0
1
2
3

In [0]:
#3) Iterating over a range of values:
for i in range (0,3):
    print (i)

0
1
2

### Break, pass and continue:

##### Break:
The break statement is used to break the loop. The loop breaks when it encounters the break keyword and it throws to the immediate next line after the loop. for eg:

In [0]:
for i in range(0,5):
    if i == 3:
        break
    print (i)
print ('continue from this line after the for loop')

0
1
2
continue from this line after the for loop

##### continue:
The continue statement will skip the current value and will continue from the immediate next value. for eg:

In [0]:
for i in range (0,5):
    if i == 3:
        continue
    print (i)

0
1
2
4

##### Pass:
pass is just used to pass the flow. The utility of pass statement is when certain part of the code is not ready so in order to check rest of the code we can use pass statement as it will pass the flow normally.

In [0]:
for i in range (0,5):
    pass
print ('continue from this line')

continue from this line

##### Practise Questions:

1. Program to find the greater number between the two.
2. Program that takes user input and identifies even and odd number
3. Program to identify a valid mobile number 
4. define a function that takes list of numbers as argument and output the number that are less than 20
5. Count the number of letters in refrigerator without using len() function.
6. find the length of each element of array
7. print the number of vowels occuring in ‘refrigerator’
8. Write a program to find the number of vowels, consonents, digits and white space characters in a string. 'I am learning python'
9. Print all letters except ‘E’ in cricket.
10. Write a program to make a new string with all the vowels deleted from the string "Hello, have a good day" (output : Hll, hv  gd dy)
11. Write a program to find out the largest and smallest word in the string "This is python programming".
12. Write a program to check if a given string is a Palindrome. A palindrome reads same from front and back e.g.- aba, ccaacc, mom, etc.
13. a = ['read','feed','string',’at’] , Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged.
14. Write a Python program to count the number of even and odd numbers from a series of numbers. [15,13,17,19,14,6,61,62]
15. Form a pattern: 
	*
	**
	***
	****
	*****
	****
	***
	**
	*
16. Form a pattern:
	   *
	  ***
	 *****
	  ***
	   *
17. Identify a fibnocci series (1,1,2,3,5,8,13….)
18. Identify a prime number in range (2,30)
19. write a program to calculate the average of a list of numbers 
      [1,2,3,4,5,6,7,8,9,10]
20. Print the multiplication table of 7 as (7*1=7 and so on) 
21. Factorial of any number n is represented by n! and is equal to 1*2*3…..(n-1)*n. Write a program to calculate factorial of a number.
22. Three digit number is called Armstrong number if sum of cube of its digit is equal to number itself.E.g.- 153 is an Armstrong number because (13)+(53)+(33) = 153.Write all Armstrong numbers between 100 to 500.
23. Write a Python program to find the median of given values
[8,10,15,20,11,17,30,22,13,16,23]
24. write a program to print patter 0 as :
   ***  
*        *
*        *
*        *
*        *
*        *       
   ***
25. Write a program that gives a list of elements which is reversed for eg:
['string','integer','float','boolean']  output as : ['gnirts', 'regetni', 'taolf', 'naeloob']

26. Print the following pattern:
      ***
    *      *
    *      *
     *****
    *      *
    *      *  
    *      *
27. Print the following pattern:
    *****
    *         *
    *         * 
    *         *
    *         * 
    *         *
    ****** 
28. Print the following pattern:
******
       *
     *
   *
****** 

29. Create a while loop which repeats itself and asks for the user input. If the user  enters the letter ‘q’ ,it quits the while loop else it continues the loop.

30. Print all No.s between range (2000,3000) which are divisible by 7 but not by 5.

31. For x = ‘hello world 1234’, count the number of alphabets, numbers and spaces

32. For x = ['john','smith','michael','david','abrahm','nicola'], format the list such that the first letter of every name is in capitals.
Expected result : ['John', 'Smith', 'Michael', 'David', 'Abrahm', 'Nicola']

33. x = ['Banett','Rose','Clare']  y = [24,29,20]
For this two lists, x represents the names and y represents the ages corresponding to names. Create a dictionary having keys as names and ages representing the values. Expected output: {'Banett': 24, 'Rose': 29, 'Clare': 20}

34. x = ['right','a','heaven','is','when','the']
For list above, create another list in which elements are sorted out on basis of length of element.
Expected output: ['a', 'is', 'the', 'when', 'right', 'heaven']

35. t= 'program‘
Apply string operations only and sort out the letters in the above word in alphabetical order.
Expected output: agmoprr

##### Answers:

In [3]:
x = int (input ('enter first number '))
y = int (input('enter second number '))
if x>y:
    print (x, ' is greater then ', y)
else:
    print (y , ' is greater then ', x)

enter first number 6
enter second number 7
7  is greater then  6

In [4]:
x = int(input('enter a number'))
if x% 2 == 0:
    print (x , 'is even')
else:
    print (x , 'is odd')

enter a number44
44 is even

In [5]:
t= ['+918109340944','+918839114952','+19876543210','123456','123456789123']
for x in t:
# x = str(input('Please enter a phone number '))
    if len(x)==13 or len(x)==12:
        if x.startswith('+91'):
            print (x, ' is Indian')
        elif x.startswith('+1'):
            print (x, ' is from U.S')
        else:
            print (x, ' Unable to Match the number')
    else:
        print (x, ' is Not a valid number')

+918109340944  is Indian
+918839114952  is Indian
+19876543210  is from U.S
123456  is Not a valid number
123456789123  Unable to Match the number

In [7]:
x= [25,12,8,7,21,35,50,96,102]
for i in range (len(x)):
    if (x[i]<20):
        print (x[i],' is less than 20')
    else:
        print (x[i],' is more than 20')

25  is more than 20
12  is less than 20
8  is less than 20
7  is less than 20
21  is more than 20
35  is more than 20
50  is more than 20
96  is more than 20
102  is more than 20

In [0]:
x = 'refrigerator'
counter = 0
for i in x:
    counter += 1
print (counter)

12

In [0]:
r = ['abc','in','abcd','pqrst','uvwxyz']
for i in r:
    print (i, 'the length is', len(i) )

abc the length is 3
in the length is 2
abcd the length is 4
pqrst the length is 5
uvwxyz the length is 6

In [0]:
x = 'refrigerator'
counter = 0
for i in x:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        counter += 1
print (counter)

5

In [0]:
x = 'I am learning python'
y = x.lower()
counter_1 = 0
counter_2 = 0
counter_3 = 0
for i in y:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' :
        counter_1+=1
    elif i == ' ':
        counter_2+=1
    else:
        counter_3+=1
print (counter_1)
print (counter_2)
print (counter_3)
len(y)

6
3
11

20

In [0]:
n = 'cricket'
for i in n:
    if i=='e':
        continue
    print(i)

c
r
i
c
k
t

In [12]:
x ="Hello, have a good day"
y=''
for i in x:
    if i!='a' and i!='e' and i!='i' and i!='o' and i!='u':
        y +=i
print (y)

Hll, hv  gd dy

In [25]:
a = "I love Python Programming"
a = a.split()
maxx = a[0]
minn = a[0]
max_len = len(a[0])
min_len = len(a[0])
for i in a:
  if len(i)>max_len:
    max_len = len(i)
    maxx = i
  else:
    min_len = len(i)
    minn = i
print ('The biggest word is-', maxx)
print ('The smallest word is-', minn)

The biggest word is- Programming
The smallest word is- I

In [34]:
x = ['mom','ccaacc','at','the','cbc']
for i in x:
    if i[0:]==i[::-1]:
        print (i, 'is palindrome')
    else:
        print (i, 'is not palindrome')

mom is palindrome
ccaacc is palindrome
at is not palindrome
the is not palindrome
cbc is palindrome

In [0]:
a = ['read','feed','string','at']
for i in a:
    if (i.endswith('ing')):
        y = i+'ly'
        print (y)
    elif (len(i)<3):
        print (i)
    else:
        y = i+'ing'
        print (y)

reading
feeding
stringly
at

In [0]:
y = [1,5,6,4,7,9,12,15]
Even_counter = 0
odd_counter = 0
for i in y:
    if (i%2==0):
        Even_counter +=1
    else:
        odd_counter +=1
        
print (Even_counter)
print (odd_counter)

3
5

In [40]:
x = '* '
counter = 1
while (counter<5):
    print (x*counter)
    counter+=1
while (counter>0):
    print (x*counter)
    counter-=1

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
i = 1
j = 2
while i>=1:
  a = " "*j+"*"*i
  print (a)
  i = i+2
  j = j-1
  if i>5:
    break
i = 3
j = 1
while i>=1:
  a =  " "*j+"*"*i
  print (a)
  i = i-2
  j = j+1

  *
 ***
*****
 ***
  *

In [0]:
x = [1,2,3,4,5,6,7,8,9,10]
y=0
for i in x:
    y+=i
print('Avg is ' , y/len(x))

Avg is  5.5

In [0]:
x = int(input('give the number to know its multiplication table upto 10'))
for i in range(1,11):
    k=x*i
    print ('{}*{}={}'.format(x,i,k))

give the number to know its multiplication table upto 107
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [0]:
#6*5*4*3*2*1
x = int(input('give the number to calculate its factorial '))
y=x
while (x>1):
    x-=1
    y*=x
print(y)

give the number to calculate its factorial 8
40320

In [10]:
# x = '153'
for j in range (0,500):
    y=0
    j=str(j)
    for i in j:
        y+=int(i)**3
    if (str(y)==j):
        print (j, 'its an armstrong no.')

0 its an armstrong no.
1 its an armstrong no.
153 its an armstrong no.
370 its an armstrong no.
371 its an armstrong no.
407 its an armstrong no.

In [0]:
x = [8,10,15,20,11,17,30,22,13,16,23]
x.sort()
print (x)
if (len (x)%2==0):
    i = int(len(x)/2)
    j = i+1
    print ((x[i]+x[j])/2)
else :
    i = len(x)//2
    print (x[i])

[8, 10, 11, 13, 15, 16, 17, 20, 22, 23, 30]
16

In [0]:
x = '*'
for i in range (0,7):
    if (i==0 or i==6):
        print ('  '+x*3+'  ')
    else:
        print (x+'     '+x)

  ***
*     *
*     *
*     *
*     *
*     *
  ***

In [0]:
x = ['string','integer','float','boolean']
y = []
for i in x:
    y.append(i[::-1])
print (y)

['gnirts', 'regetni', 'taolf', 'naeloob']

In [0]:
a = 0
b = 1

for i in range (0,7):
    temp = a
    a = b
    b = temp+b
    print (a)

1
1
2
3
5
8
13

In [0]:
for i in range(2,15):
    counter = 0
    for j in range(2,i):
        if (i%j == 0):
            counter = 1
    if (counter==0):
        print (i, ' is a prime number')

2  is a prime number
3  is a prime number
5  is a prime number
7  is a prime number
11  is a prime number
13  is a prime number

In [0]:
for i in range (0,9):
    if i==0:
        print ('  '+'***'+'  ')
    elif i == 4:
        print ('*******')
    else:
        print('*'+'     '+'*')

  ***
*     *
*     *
*     *
*******
*     *
*     *
*     *
*     *

In [11]:
while True:
    x = input('enter Q to quit ')
    if x=='q' or x == 'Q':
        break

enter Q to quit w
enter Q to quit w
enter Q to quit w
enter Q to quit w
enter Q to quit w
enter Q to quit q

In [0]:
for i in range(2000,3000):
    if i%7==0:
        if i%5!=0:
            print (i)

In [0]:
x = 'hello world 1234'
char_ =0
dig_ =0
spc_ =0
for i in x:
    if i.isdigit():
        dig_ += 1 
    elif i.isalpha():
        char_ += 1
    else:
        spc_ += 1
print (dig_)
print (char_)
print (spc_)

4
10
2

In [0]:
x = ['john','smith','michael','david','abrahm','nicola']
y = []
for i in x:
    y.append(i[0].upper()+i[1:])
print (y)

['John', 'Smith', 'Michael', 'David', 'Abrahm', 'Nicola']

In [0]:
for i in range (0,8):
    if i == 0 or i ==7:
        print ('****')
    else:
        print ('*    *')

****
*    *
*    *
*    *
*    *
*    *
*    *
****

In [0]:
x = ['Banett','Rose','Clare']
y = [24,29,20]
z= {}
for i in range (len(x)):
    z[x[i]]=y[i]
    
print (z)

{'Banett': 24, 'Rose': 29, 'Clare': 20}

In [0]:
i=7
y= ' '
while i>=0:
    if (i==0 or i==7):
        print ('*******')
        i-=1
    else:
        print(y*i+'*')
        i-=1

*******
      *
     *
    *
   *
  *
 *
*******

In [13]:
x = ['right','a','heaven','is','when','the']
y = []
for i in range(len(x)):
    for j in x:
        if (len(j)==i+1):
            y.append(j)
print (y)

['a', 'is', 'the', 'when', 'right', 'heaven']

In [0]:
t= 'program'
n = []
for i in t:
    n.append(i)
n.sort()
m = ''.join(n)
print (m)

agmoprr