Data frames are 2d data structures .
Data is aligned in a tabular format consists of rows and columns
DataFrames can hold multiple data types
DataFrames Constructor in pandas is
pd.DataFrames(data=,index=,dtype=,copy)
data holds the data source
index holds the index to access the data source
dtype is type of the data
copy is self to false default. take a copy

In [2]:
import numpy as np
import pandas as pd

In [11]:
from numpy.random import randn

In [5]:
np.random.seed(101)      #### we get the same set of random numbers

In [15]:
#### creating a data frame using random number generator randn,use shift + tab to understand more about data frame parameters

df0 = pd.DataFrame(data=randn(5,4),index=['A','B','C','D','E'],columns= ['W','X','Y','Z'])

In [16]:
df0

#### each of the column W,X,Y,Z is each a pandas series sharing a common index

          W         X         Y         Z
A -2.107392  0.066101  0.076615 -0.521077
B  0.519745  0.119151  1.001345 -0.100580
C  0.666727 -0.127707  0.391357 -0.611131
D  1.271470 -0.319645  0.009523 -2.226518
E  0.044765  1.219051 -0.836986 -1.224551

In [4]:
#### creating a data frame from a list
df_list = [['a1','b1','c1'],['a2','b2','c2'],['a3','b3','c3']]
df_list

#### to create user defined index, let us create a list of index
df_index = ['indx1','indx2','indx3']

In [5]:
### create dataframe from list
#data_Frame_list = pd.DataFrame(data=df_list)

data_Frame_list = pd.DataFrame(data=df_list,index=df_index,columns=('ColA','ColB','Colc'))
data_Frame_list

      ColA ColB Colc
indx1   a1   b1   c1
indx2   a2   b2   c2
indx3   a3   b3   c3

In [8]:
#### creating a dataframe from dictionary
#### let us create a new diction
df_dict = {'k1':(1,2,3),'k2':(20,30,40),'k3':(30,40,50),'k4':[100,200,300],'k5':[100,200,300]}


### to make INDEXES FOR DATAFRAME
#data_Frame_dict = pd.DataFrame(data=df_dict,index=('I1','I2','I3','I4'),columns=('ColA','ColB','ColC','ColD'))
#data_Frame_dict


### to make INDEXES FOR DATAFRAME
#data_Frame_dict = pd.DataFrame(data=df_dict,index=('k1','k2','k3','k4'),columns=('ColA','ColB','ColC','ColD'))
#data_Frame_dict

In [9]:
### default creation
data_Frame_dict = pd.DataFrame(data=df_dict)
print(data_Frame_dict)

   k1  k2  k3   k4   k5
0   1  20  30  100  100
1   2  30  40  200  200
2   3  40  50  300  300

####### Every column in a data frame is a series by itself
####### series is formed out of numpy arrays

dataframe --> within dataframe there is series ==> within series you have numpy arrays

In [16]:
pd.Series(data=df_dict)

k1          (1, 2, 3)
k2       (20, 30, 40)
k3       (30, 40, 50)
k4    [100, 200, 300]
dtype: object

In [18]:
### retreiving /accessing/grabbing/extracting data from a dataframe

In [21]:
df0

          W         X         Y         Z
A -2.107392  0.066101  0.076615 -0.521077
B  0.519745  0.119151  1.001345 -0.100580
C  0.666727 -0.127707  0.391357 -0.611131
D  1.271470 -0.319645  0.009523 -2.226518
E  0.044765  1.219051 -0.836986 -1.224551

In [26]:
#### to retrieve information from data frame

###
print(type(df0))

### extracting column W from dataframe df0
print(df['W'])



#### note that the output is a series with user defined indexes and also its uni dimensional

<class 'pandas.core.frame.DataFrame'>
A   -0.278947
B   -1.381646
C   -1.352525
D   -2.084808
E    1.412494
Name: W, dtype: float64

In [23]:
### to verify whether every column in a data frame is a series or not
type(df0['W'])

pandas.core.series.Series

In [28]:
### alternate way to retrieve data from df. THIS IS NOT RECOMMENDED 
### because using '.' can get confused with 
#### using methods
df0.W

A   -2.107392
B    0.519745
C    0.666727
D    1.271470
E    0.044765
Name: W, dtype: float64

In [29]:
df0

          W         X         Y         Z
A -2.107392  0.066101  0.076615 -0.521077
B  0.519745  0.119151  1.001345 -0.100580
C  0.666727 -0.127707  0.391357 -0.611131
D  1.271470 -0.319645  0.009523 -2.226518
E  0.044765  1.219051 -0.836986 -1.224551

In [30]:
#### To retrieve multiple columns ..note the twin square brackets
df0[['W','Z']]

          W         Z
A -2.107392 -0.521077
B  0.519745 -0.100580
C  0.666727 -0.611131
D  1.271470 -2.226518
E  0.044765 -1.224551

In [137]:
### 2 or more columns twin sq brackets are enough
df0[['W','Z','X']]

#### Double bracket notation is enough to extract more than 1 column

          W         Z         X
A -2.107392 -0.521077  0.066101
B  0.519745 -0.100580  0.119151
C  0.666727 -0.611131 -0.127707
D  1.271470 -2.226518 -0.319645
E  0.044765 -1.224551  1.219051

In [138]:
df0

          W         X         Y         Z
A -2.107392  0.066101  0.076615 -0.521077
B  0.519745  0.119151  1.001345 -0.100580
C  0.666727 -0.127707  0.391357 -0.611131
D  1.271470 -0.319645  0.009523 -2.226518
E  0.044765  1.219051 -0.836986 -1.224551

In [18]:
df0

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [139]:
#### creating a new column  - helps in feature creation
### df['new']   returns error that new column is not found

#### correct way of creating a new column or feature

df0['new1']  = df0['W'] + df0['Y']

##mylistdf = [10000,20000,3000,49999,590000]

##mylistdf

In [140]:
df0

          W         X         Y         Z      new1
A -2.107392  0.066101  0.076615 -0.521077 -2.030777
B  0.519745  0.119151  1.001345 -0.100580  1.521090
C  0.666727 -0.127707  0.391357 -0.611131  1.058084
D  1.271470 -0.319645  0.009523 -2.226518  1.280992
E  0.044765  1.219051 -0.836986 -1.224551 -0.792221

In [141]:
df0.drop('W',axis=1,inplace=True)
print(df0)

          X         Y         Z      new1
A  0.066101  0.076615 -0.521077 -2.030777
B  0.119151  1.001345 -0.100580  1.521090
C -0.127707  0.391357 -0.611131  1.058084
D -0.319645  0.009523 -2.226518  1.280992
E  1.219051 -0.836986 -1.224551 -0.792221

In [142]:
df0['new1']  = df0['W'] + df0['Y']

KeyError: 'W'

In [55]:
#### to remove columns from a data frame
df0.drop('new1')   #### you will get an error "labels new not contained in axis

KeyError: "labels ['new1'] not contained in axis"

data  has 2 axis values

axis =0  represents a row in a dataframe
axis=1   represents a column in a dataframe

when no axis is given , axis=0 is assumed

- when we try to execute the command  df.drop('new1')   , python is searching for a row called "new1" (inspite of "new1" being a column) and it did not find it. as a result it gave the error " 
 KeyError: "labels ['new1'] not contained in axis"

In [56]:
df0.drop('new1',axis=1)   
#### axis= 0 for drop method refers to index ('A','B')
#### axis=1  refer to columns W, X, Y,Z, new

          W         X         Y         Z
A -2.107392  0.066101  0.076615 -0.521077
B  0.519745  0.119151  1.001345 -0.100580
C  0.666727 -0.127707  0.391357 -0.611131
D  1.271470 -0.319645  0.009523 -2.226518
E  0.044765  1.219051 -0.836986 -1.224551

In [58]:
df0
###observe that new1 is not permanently dropped

          W         X         Y         Z      new1
A -2.107392  0.066101  0.076615 -0.521077 -2.030777
B  0.519745  0.119151  1.001345 -0.100580  1.521090
C  0.666727 -0.127707  0.391357 -0.611131  1.058084
D  1.271470 -0.319645  0.009523 -2.226518  1.280992
E  0.044765  1.219051 -0.836986 -1.224551 -0.792221

In [60]:
#### for hard deleting or dropping. inplace argument is needed 
df0.drop('new1',axis=1,inplace=True)

In [61]:
df0       ##### notice new column is permanently removed

          W         X         Y         Z
A -2.107392  0.066101  0.076615 -0.521077
B  0.519745  0.119151  1.001345 -0.100580
C  0.666727 -0.127707  0.391357 -0.611131
D  1.271470 -0.319645  0.009523 -2.226518
E  0.044765  1.219051 -0.836986 -1.224551

In [62]:
df1 = pd.DataFrame(data=randn(5,4),index=['A','B','C','D','E'],columns= ['W','X','Y','Z'])
df1

          W         X         Y         Z
A  0.171637  2.188910  0.123637 -0.418754
B  0.159875  0.521173  0.245038  1.915625
C  0.178843  0.404329  0.574625 -0.602102
D -0.573985 -1.970202  0.221261 -0.541182
E -0.959154 -0.286835 -0.566688 -1.206379

In [68]:
df3 = df = pd.DataFrame(data=randn(5,4),index=['H','I','J','K','L'],columns= ['COL1','COL2','COL3','COL4'])
df3

       COL1      COL2      COL3      COL4
H  0.244386  0.007691 -0.787018  0.907164
I -0.335956 -0.597340 -0.789790  0.215393
J  0.112173  0.375066  1.448731 -0.140006
K  0.871399  1.072212  1.439984  1.385181
L  1.284092 -0.328930  1.127343 -1.329462

In [64]:
df2 = df = pd.DataFrame(data=randn(5,4),index=['H','I','J','K','L'],columns= ['M','N','O','P'])

In [65]:
df2

          M         N         O         P
H -0.318882  1.030472 -0.840721 -2.072023
I  0.470153  1.376266  1.199733  1.456527
J  1.416350  0.686836 -1.375803  0.104612
K -0.287875 -0.561112 -0.687661 -0.842834
L  0.079786 -1.113612 -0.341436  0.469963

In [66]:
df3

       COL1      COL2      COL3      COL4
H -0.287682  0.705835  0.404170 -0.717953
I -1.336919  1.369068 -0.278660  0.537852
J  0.662146 -1.019127  0.556303 -0.627387
K  0.238360  0.164008 -1.124141  0.711693
L -0.985845  0.164887 -0.949021 -0.295643

In [69]:
#### dropping rows

df2.drop('L')

          M         N         O         P
H -0.318882  1.030472 -0.840721 -2.072023
I  0.470153  1.376266  1.199733  1.456527
J  1.416350  0.686836 -1.375803  0.104612
K -0.287875 -0.561112 -0.687661 -0.842834

In [70]:
df2  ####  (no hard delete with rows as well)

          M         N         O         P
H -0.318882  1.030472 -0.840721 -2.072023
I  0.470153  1.376266  1.199733  1.456527
J  1.416350  0.686836 -1.375803  0.104612
K -0.287875 -0.561112 -0.687661 -0.842834
L  0.079786 -1.113612 -0.341436  0.469963

In [71]:
#### hard deleting rows using inplace
df2.drop('L',inplace=True)

In [72]:
df2        #### note row E is premanently deleted

          M         N         O         P
H -0.318882  1.030472 -0.840721 -2.072023
I  0.470153  1.376266  1.199733  1.456527
J  1.416350  0.686836 -1.375803  0.104612
K -0.287875 -0.561112 -0.687661 -0.842834

In [46]:
#### why are rows having axis =0 and columns have axis=1
### this is because they are built off of numpy arrays

In [47]:
df

          M         N         O         P
H  1.606780 -1.115710 -1.385379 -1.329660
I  0.041460 -0.411055 -0.771329  0.110477
J -0.804652  0.253548  0.649148  0.358941
K -1.080471  0.902398  0.161781  0.833029

In [75]:
#### to establish the above

df_shape=df.shape
print(df)
print(type(df_shape))

### the output is a touple, where indexs or rows ar 4 and columns are 4 too. 
#### that is rows are referred to as 0 axis and columns are 1 axis

       COL1      COL2      COL3      COL4
H  0.244386  0.007691 -0.787018  0.907164
I -0.335956 -0.597340 -0.789790  0.215393
J  0.112173  0.375066  1.448731 -0.140006
K  0.871399  1.072212  1.439984  1.385181
L  1.284092 -0.328930  1.127343 -1.329462
<class 'tuple'>

In [76]:
## extracting columns
print(df1['W'])

print(df1[['W','X']])

A    0.171637
B    0.159875
C    0.178843
D   -0.573985
E   -0.959154
Name: W, dtype: float64
          W         X
A  0.171637  2.188910
B  0.159875  0.521173
C  0.178843  0.404329
D -0.573985 -1.970202
E -0.959154 -0.286835

In [73]:
df1

          W         X         Y         Z
A  0.171637  2.188910  0.123637 -0.418754
B  0.159875  0.521173  0.245038  1.915625
C  0.178843  0.404329  0.574625 -0.602102
D -0.573985 -1.970202  0.221261 -0.541182
E -0.959154 -0.286835 -0.566688 -1.206379

In [79]:
#### selecting rows, by using .loc method. .loc is followed by [] and not ()
df1.loc['C']
print(df1.loc['C'])
print(type(df1.loc['C']))
### note that the rows are reported as series as well

W    0.178843
X    0.404329
Y    0.574625
Z   -0.602102
Name: C, dtype: float64
<class 'pandas.core.series.Series'>

In [55]:
df1.loc['C']

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

In [83]:
### ALTERNATE WAY OF EXTRACTING ROWS FROM A DATA FRAME
#### index location based look up
df1.iloc[2]
print('\n')
print(df1.iloc[2])
print('\n')
print(type(df1.iloc[2]))

W    0.178843
X    0.404329
Y    0.574625
Z   -0.602102
Name: C, dtype: float64


<class 'pandas.core.series.Series'>

In [85]:
df1

          W         X         Y         Z
A  0.171637  2.188910  0.123637 -0.418754
B  0.159875  0.521173  0.245038  1.915625
C  0.178843  0.404329  0.574625 -0.602102
D -0.573985 -1.970202  0.221261 -0.541182
E -0.959154 -0.286835 -0.566688 -1.206379

In [32]:
#### to extract subset of rows and columns - example row B and Column Y

In [86]:
df1.loc['B','Y']

0.2450379789025013

In [88]:
#### SUBSETTING -Example 2 - extract values in row A and B, columns W and Y
### df1.loc[[row indexes], [column indexes]]

df1.loc[['A','B'],['W','Y']]

          W         Y
A  0.171637  0.123637
B  0.159875  0.245038

In [91]:
df1.loc[['B','C','D'],['W','Y','Z']]

          W         Y         Z
B  0.159875  0.245038  1.915625
C  0.178843  0.574625 -0.602102
D -0.573985  0.221261 -0.541182

In [93]:
df1.loc[['D','C','B'],['Y','W','A']]

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

          Y         W   A
D  0.221261 -0.573985 NaN
C  0.574625  0.178843 NaN
B  0.245038  0.159875 NaN

In [94]:
df1

          W         X         Y         Z
A  0.171637  2.188910  0.123637 -0.418754
B  0.159875  0.521173  0.245038  1.915625
C  0.178843  0.404329  0.574625 -0.602102
D -0.573985 -1.970202  0.221261 -0.541182
E -0.959154 -0.286835 -0.566688 -1.206379

In [95]:
### extracting rows using iloc and slice notation - slice notations apply..go up to a row, but not include that row index
df1.iloc[0:2]

          W         X         Y         Z
A  0.171637  2.188910  0.123637 -0.418754
B  0.159875  0.521173  0.245038  1.915625

In [117]:
### adding rows into dataframe
rowadd_df= pd.DataFrame(data=randn(5,4),columns=['colA','colB','colC','colD'])
rowadd_df

       colA      colB      colC      colD
0  2.111987  0.853711 -0.501230 -1.359738
1 -1.226086 -1.054285  1.106922  0.355723
2  0.593610 -1.985371  1.151189  0.115991
3 -0.912931  0.524276 -0.847037 -0.085267
4 -1.611649 -0.724705  1.122079  0.153895

In [118]:
newrows=pd.DataFrame(data=([[100,200,300,400],[600,700,800,900]]),index=(5,6),columns=['colA','colB','colC','colD']) 
newrows

   colA  colB  colC  colD
5   100   200   300   400
6   600   700   800   900

In [119]:
newrows2=pd.DataFrame(data=([[100,200,300,400],[600,700,800,900]]),index=(5,6),columns=['colA','colB','colC','colD'])

In [104]:
newrows2

   colA  colB  colC  colD
5   100   200   300   400
6   600   700   800   900

In [120]:
### add newrows2 to dataframee rowadd_df
rowadd_df=rowadd_df.append(newrows2)
rowadd_df

### row indexes 0 and 1 have been duplicated in the resulting data set

         colA        colB        colC        colD
0    2.111987    0.853711   -0.501230   -1.359738
1   -1.226086   -1.054285    1.106922    0.355723
2    0.593610   -1.985371    1.151189    0.115991
3   -0.912931    0.524276   -0.847037   -0.085267
4   -1.611649   -0.724705    1.122079    0.153895
5  100.000000  200.000000  300.000000  400.000000
6  600.000000  700.000000  800.000000  900.000000

In [121]:
rowadd_df.iloc[0]

colA    2.111987
colB    0.853711
colC   -0.501230
colD   -1.359738
Name: 0, dtype: float64

In [127]:
### adding rows into dataframe
rowadd_df1 = pd.DataFrame(data=randn(5,4),columns=['colA','colB','colC','colD'])
rowadd_df1

       colA      colB      colC      colD
0 -1.047050 -1.190443  1.132052 -0.271413
1 -1.548999 -1.393082 -1.425098  0.544455
2 -0.287194 -0.182498 -0.214062  0.860026
3 -0.147966  1.021239 -1.559736 -0.149707
4 -0.793343  0.457199  0.428618 -0.752934

In [128]:
newrows10=pd.DataFrame(data=([[100,200,300,400],[600,700,800,900]]),index=(5,6),columns=['colE','colF','colG','colH'])

In [129]:
### bring together 2 data frames with different column names using append
rowadd_df1=rowadd_df1.append(newrows10)
rowadd_df1

D:\anaconda\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

       colA      colB      colC      colD   colE   colF   colG   colH
0 -1.047050 -1.190443  1.132052 -0.271413    NaN    NaN    NaN    NaN
1 -1.548999 -1.393082 -1.425098  0.544455    NaN    NaN    NaN    NaN
2 -0.287194 -0.182498 -0.214062  0.860026    NaN    NaN    NaN    NaN
3 -0.147966  1.021239 -1.559736 -0.149707    NaN    NaN    NaN    NaN
4 -0.793343  0.457199  0.428618 -0.752934    NaN    NaN    NaN    NaN
5       NaN       NaN       NaN       NaN  100.0  200.0  300.0  400.0
6       NaN       NaN       NaN       NaN  600.0  700.0  800.0  900.0

In [133]:
newrows4=pd.DataFrame(data=([[100,200,300,400],[600,700,800,900]]),index=(3,4),columns=['colA','colB','colC','colD']) 
newrows4

   colA  colB  colC  colD
3   100   200   300   400
4   600   700   800   900

In [136]:
#### INSERTING A column IN BETWEEN A DATA FRAME !!! 
rowadd_df1=rowadd_df1.insert(loc=3.5,column=['colX'],value=[1999])

ValueError: Length of values does not match length of index